body{
    max-width: 50%;
    margin: 0 10% 0;
}

h1{ color: #333333; font-family: 'Bitter', serif; font-size: 35px; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

p { color: #333333; font-family: 'Georgia', serif; font-size: 16px; line-height: 28px;}

figspace { margin:0 10% 0;}


